<launch>
    <!-- cv nodes -->
    <node name="camera_server" pkg="sensing" type="camera_server.py" 
    required="true" output="screen" args="" />
    <node name="object_server" pkg="sensing" type="object_server.py" 
    required="true" output="screen" args="">
        <param name="hue_lo" type="int" value="70"/>
        <param name="hue_hi" type="int" value="110"/>
        <param name="sat_lo" type="int" value="80"/>
        <param name="sat_hi" type="int" value="255"/>
        <param name="val_lo" type="int" value="80"/>
        <param name="val_hi" type="int" value="255"/>
    <node/>
</launch>