<launch>
    <node name="table_broadcaster" pkg="tf2_ros" type="static_transform_publisher" 
    required="true" args="1 0 0 0 0 0 1 base table" />

    <node name="enable" pkg="intera_interface" type="enable_robot.py" 
    output="screen" args="-e" />

    <node name="camera_server" pkg="sensing" type="camera_server.py" 
    required="true" output="screen" args="" />

    <node name="object_server" pkg="sensing" type="object_server.py" 
    required="true" output="screen" args="" />
</launch>